<h1>編集</h1>

<%= form_with model: @recipe_category_material, url: recipe_path(@recipe.id) ,method: :patch, local: true do |f| %>

 <%# エラーメッセージの参照 %>
 <%= render 'shared/error_messages' , model: f.object %>

 <%# レシピ画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        画像
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"recipe-image" %>
      </div>
    </div>
  <div>
    <%= f.label :name, "料理名" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :url, "URL" %>
    <%= f.text_field :url %>
  </div>
  <div>
    <%= f.label :material_name, "メイン食材"%>
    <%= f.text_field :material_name%>
  </div>
 <div>
    <%= f.label :procedure, "作り方" %>
    <%= f.text_area :procedure %>
  </div>
  <div>
    <%= f.label :category_name, "カテゴリー" %>
    <%= f.select :category_name ,[" ","メイン","サイド","汁物","丼","麺","デザート"]%>
  </div>
  <div>
    <%= f.submit "保存" %>
  </div>

<% end %>

<%= link_to "戻る" , root_path %>
