<div class="recipe_container">
 <div class="main_header">
   <%= render "shared/header" %>
  </div>
    

<%# 作成日登録フォーム %>
<div class = 'recipeIndex_dateform'>
   <%= form_with model:CookingDate , url: cooking_dates_path, local: true do |f| %>

    <div class='dateform'>
      <%= f.label :start_time,"日付" %>
      <%= f.date_field :start_time %>
    </div>

   <div class='dateform'>
    <%= f.label :recipe_ids,"献立を選択" %>
    <%= f.collection_select :recipe_ids, Recipe.where(user_id: current_user.id), :id, :name, {} ,multiple: true %>
    </div>

   <div class='dateform'>
      <%= f.submit "登録" %>
    </div>
 <% end %>
</div>

<%# カレンダー %>
  <%= week_calendar(events:@cooking_dates) do |date,cooking_dates| %>
   <%= date %> 
      <ul>
        <% (cooking_dates || []).each do |cooking_date| %> 
         <% cooking_date.recipes.each do |recipe|%>
         <li><%= link_to recipe.name , recipe_path(recipe) %></li> 
         <% end %>        
        <% end %>
      </ul>
  <% end %> 

</div>

