<div class="recipe_container">
 <div class="main_header">
   <%= render "shared/header" %>
  </div>
    <%= link_to "レシピ登録", new_recipe_path%>

<%# 作成日登録フォーム %>
<%= form_with model:CookingDate , url: cooking_dates_path, local: true do |f| %>
  <div>
    <%= f.label :start_time,"日付" %>
    <%= f.date_field :start_time %>
  </div>
  <div>
    <%= f.label :recipe_ids,"献立を選択" %>
   <%= f.collection_select :recipe_ids, Recipe.where(user_id: current_user.id), :id, :name, {} ,multiple: true %>

  </div>
  <div>
    <%= f.submit "登録" %>
  </div>
<% end %>

<%# カレンダー %>
  <%= week_calendar(events:@cooking_dates) do |date,cooking_dates| %>
   <%= date %> 
      <ul>
        <% (cooking_dates || []).each do |cooking_date| %> 
         <% cooking_date.recipes.each do |recipe|%>
         <li><%= link_to recipe.name , recipe_path(recipe) %></li> 
         <% end %>        
        <% end %>
      </ul>
  <% end %> 


<%# レシピ一覧 %>

  <ul class = 'recipe-lists'>
    <% if @recipe.present? %>
    <% @recipe.each do |recipe| %>
        <li class = 'list'>
           <div class = 'recipe-img-content'>
           <%= link_to recipe_path(recipe) do  %>
              <% if recipe.image.attached? %>
              <%= image_tag recipe.image, class: "recipe-img"  %>
              <%else %>
              <%= image_tag 'no_image.jpg',class: "recipe-img" %>
              <% end %>
           <% end %>
          </div> 
          <h3 class = 'recipe-name'>
            <%= recipe.name%>
          </h3>
        </li>
      <% end %>
    <% end%>
  </ul>

</div>

