<div class="recipe_container">
 <div class="main_header">
   <%= render "shared/header" %>
  </div>
    <%= link_to "レシピ登録", new_recipe_path%>

<%# カレンダー %>
  <%= week_calendar(events: @cooking_date) do |date , recipes| %>
    <%= date %>
    <% recipes.each do |recipe|%>
    <div>
      <%= recipe.name %>
    </div>
    <% end %>  
  <% end%>

<%# 作成日登録フォーム %>
<%= form_with model: CookingDate, url: cooking_dates_path, local: true do |f| %>
  <div>
    <%= f.label :date, "日付" %>
    <%= f.date_field :date %>
  </div>
  <div>
    <%= f.label :recipe_id, "料理名" %>
    <%= f.collection_select :recipe_id, Recipe.where(user_id: current_user.id), :id, :name ,prompt:"献立を選択"%>
  </div>
  <div>
    <%= f.submit "登録" %>
  </div>
<% end %>


<%# レシピ一覧 %>

  <ul class = 'recipe-lists'>
    <% if @recipe.present? %>
    <% @recipe.each do |recipe| %>
        <li class = 'list'>
           <div class = 'recipe-img-content'>
           <%= link_to recipe_path(recipe) do  %>
              <% if recipe.image.attached? %>
              <%= image_tag recipe.image, class: "recipe-img"  %>
              <%else %>
              <%= image_tag 'no_image.jpg',class: "recipe-img" %>
              <% end %>
           <% end %>
          </div> 
          <h3 class = 'recipe-name'>
            <%= recipe.name%>
          </h3>
        </li>
      <% end %>
    <% end%>
  </ul>

</div>

