<div class="recipe_container">
 <div class="main_header">
   <%= render "shared/header" %>
  </div>
    <%= link_to "レシピ登録", new_recipe_path%>

  <ul class = 'recipe-lists'>
    <% if @recipe.present? %>
    <% @recipe.each do |recipe| %>
        <li class = 'list'>
           <div class = 'recipe-img-content'>
           <%= link_to recipe_path(recipe) do  %>
              <% if recipe.image.present?  %>
              <%= image_tag recipe.image, class: "recipe-img"  %>
              <%else %>
              <%= image_tag 'no_imageと書かれたデフォルト画像' %>
              <% end %>
           <% end %>
          </div> 
          <h3 class = 'recipe-name'>
            <%= recipe.name%>
          </h3>
        </li>
      <% end %>
    <% end%>
  </ul>

</div>

