<div class="recipe_container">
  <div class="main_header">
  <%= render "shared/header" %>
  </div>
</div>


<%# レシピ一覧 %>
<div>
<ul class = 'recipe-lists'>
    <% if @recipe.present? %>
    <% @recipe.each do |recipe| %>
        <li class = 'list'>
           <div class = 'photo-frame'>
              <%= link_to recipe_path(recipe) do  %>
                <% if recipe.image.attached? %>
                <%= image_tag recipe.image.variant(resize: '230x200!') %>
                <%else %>
                <%= image_tag 'no_image.jpg', size: '230x200' %>
                <% end %>
              <% end %>
              <div class = 'recipe-name'>
              <%= recipe.name%>
              </div>
           </div> 
        </li>
      <% end %>
    <% end%>
</ul>
</div>